<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
    
    <!-- 开启注解驱动 -->
	<mvc:annotation-driven />   
	  
    <!-- 扫描controller（controller层注入） -->
    <!-- <context:component-scan base-package="com.springmvc.controller"/>   -->
	<context:component-scan base-package="com.springmvc">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />   
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />    
	</context:component-scan>


	<!--Spring3.1开始的注解 HandlerMapping --> 
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">  
	   
	</bean>
	
	<!--Spring3.1开始的注解 HandlerAdapter -->  
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>  
	
    <!--Spring3.1开始的注解 HandlerAdapter -->  
<!-- 	<bean id="messageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
	            <bean id="byteArray_hmc" class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
	            <bean id="string_hmc" class="org.springframework.http.converter.StringHttpMessageConverter"/>
	            <bean id="resource_hmc" class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
	            <bean id="source_hmc" class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
	            <bean id="xmlAwareForm_hmc" class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter"/>
	            <bean id="jaxb2RootElement_hmc" class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
                <bean id="jackson_hmc" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
	<bean id="exceptionMessageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>	 -->

	<!--配置拦截器, 若配置多个拦截器,则顺序执行 -->  
	<mvc:interceptors>    
	    <mvc:interceptor>    
	        <mvc:mapping path="/**" />  
	        <bean class="com.springmvc.interceptor.LoginInterceptor">
	        	<property name="unCheckUrls"> 
                         <list> 
                            <value>/login</value> 
                          </list> 
                </property> 
	        </bean>    
	    </mvc:interceptor>   
	</mvc:interceptors>  

	
     
   <!-- 配置JSP视图 -->
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
	    <property name="prefix" value="/WEB-INF/view/"/>  
	    <property name="suffix" value=".jsp"/>   
   </bean>      
   
   <!-- ContentNegotiatingViewResolver视图解析器,利用他就可以配置多种返回值 -->

<!--  配置Json视图
   <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
       <property name="supportedMediaTypes">
           <list>
               <value>application/json;charset=UTF-8</value>
           </list>
       </property>     
       <property name="objectMapper">
           <bean class="org.codehaus.jackson.map.ObjectMapper">
               <property name="dateFormat">
                   <bean class="java.text.SimpleDateFormat">
                       <constructor-arg index="0" type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                   </bean>
               </property>
           </bean>
       </property>
   </bean>
   <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"/>
   <bean id="requestMappingHandlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
       <property name="messageConverters">
           <list>
               <ref bean="mappingJacksonHttpMessageConverter"/>
               <ref bean="stringHttpMessageConverter"/>
           </list>
       </property>
   </bean>
   <bean name="jsonView" class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
	    <property name="encoding">
	        <value type="org.codehaus.jackson.JsonEncoding">UTF8</value>
	    </property>
	    <property name="contentType" value="text/html;charset=UTF-8"/>
   </bean> -->
   <!-- 配置XML视图 -->
   <!-- 配置FreeMark视图 -->
<!--    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"/>      
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="suffix" value=".ftl"/>
        <property name="cache" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>     
        <property name="exposeSpringMacroHelpers" value="true"/>
        在页面中使用${rc.contextPath}就可获得contextPath
        <property name="requestContextAttribute" value="rc"/>
        <property name="order" value="0"/>
   </bean>   
   <bean id="freemarkConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemark.properties"/>
   </bean>
     
   <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>
     
   <bean id="FreeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings" ref="freemarkConfig"/>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape"/>
            </map>
        </property>
   </bean> -->
</beans>